nav {
  background: var(--primary);
  color: white;
}
.logo {
  font-size: 18px;
  font-weight: 700px;
}

ul {
  li {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--secondary);
    }
  }
  transition: all 0.4s;
}
